<div class="profile-tab">

	<div class="profile col-lg-2 col-lg-offset-1 pull-left">

		<div class="avatar"><%= image_tag current_user.avatar(:avatar), class: 'img-circle' %></div>

		<h4> <%= current_user.name %></h4>

		<p><%= current_user.email %></p>

		<%= link_to 'Update profile', edit_user_path, class: 'btn btn-success' %>

		</div>

		<div class="col-lg-8">

		<p class="event-group">Created events:</p>

		<% if current_user.created_events.any? %>

			<ul>
			<% current_user.created_events.each do |event| %>
				<li> <%= link_to event.title, event_path %> </li>
			<% end %>
			</ul>

		<% else %>
			
			<p class="message">You have not create any event yet.</p>
			<%= link_to 'Create an event', new_event_path, class: 'btn btn-success' %>

		<% end %>

		<p class="event-group">Past events you attended at:</p>

		<% if @past_events.any? %>

			<ul>
			<% current_user.past_events.each do |event| %>
				<li> <%= link_to event.title, event_path %> </li>
			<% end %>
			</ul>

		<% else %>
			
			<p class="message">There are not past events</p>

		<% end %>

		<p class="event-group">Future events you will attend at:</p>

		<% if @upcoming_events.any? %>

			<ul>
			<% current_user.upcoming_events.each do |event| %>
				<li> <%= link_to event.title, event_path %> </li>
			<% end %>
			</ul>

		<% else %>
			
			<p class="message">There are not upcoming events</p>

		<% end %>


	</div>

</div>