<div class="row">
<% if @events.any? %>

	<% if @upcoming_events.any? %>	
		<ul class="col-lg-9 col-lg-offset-1">
		<% @upcoming_events.each do |event| %>
			<li>
				<div class="event-slot">
					<div class="right"> <%= image_tag event.image.url(:thumb) %></div>
					<div>
					<h3><%= link_to event.title, event %></h3>
					<p><span class="glyphicon glyphicon-calendar"></span> <%= event.date.strftime('%A, %e %B, %Y') %></p>
					<p><span class="glyphicon glyphicon-map-marker"></span> <%= event.location %></p>
					<p class="event-desc"> <%= event.description.truncate(150) %></p>
					<% if event.tags.any? %>
					<p>Tags: <%= raw event.tags.map(&:name).map { |t| link_to t, tag_path(t) }.join(', ') %></p>
					<% end %>
					</div>
				</div>
			</li>
		<% end %>
		</ul>
	<% else %>
		There are not upcoming events.
	<% end %>

<% else %>

	<p>Event list is empty.</p>

<% end %>
</div>

<div class="row  col-lg-4 col-lg-offset-4">
	<div class="page">
		<%= will_paginate @upcoming_events, renderer: BootstrapPagination::Rails %>
	</div>
</div>
