<div class="event-slot col-lg-7 col-lg-offset-2">

<div class="right"> <%= image_tag @event.image.url(:medium) %></div>

<h3><%= @event.title %></h3>

<p><span class="glyphicon glyphicon-calendar"></span> <%= @event.date.strftime('%A, %l:%M %p') %></p>
<p><span class="glyphicon glyphicon-map-marker"></span> <%= @event.location %></p>
<p class="event-desc"> <%= @event.description %></p>

<p><%= @event.creator.name %></p>

<% if @event.attendees.any? %>
	
	<ul>
		<% @event.attendees.each do |attendee| %>
			<li><%= attendee %></li>
		<% end %>
	</ul>
<% else %>
	
	<p>Nobody invited</p>
	
<% end %>

</div>